*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background:white;
    color: var(--color-primary);
    padding: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
h1{
    text-align: center;
    position: absolute;
    font-size: 30px;
    
    top: 5px;
    left: 500px;
    right: 520px;
    width: 200px;
    height: 100px;
}
img{
    width:200px;
    height:120px;
    vertical-align: bottom;
    margin-left: 10px;
    
}
li{
    padding: 20px;
    display: inline-block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightblue;
}
